<a href="https://colab.research.google.com/github/kvraagul/Pandas_TimeSeriesAnalysis/blob/main/PandasTSA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_csv('/content/Nifty 50 June 2020 - June 2021.csv')

In [3]:
df.head()

         Date          Open          High  ...         Close     Adj Close    Volume
0  2020-06-29  10311.950195  10337.950195  ...  10312.400391  10312.400391  574500.0
1  2020-06-30  10382.599609  10401.049805  ...  10302.099609  10302.099609  556200.0
2  2020-07-01  10323.799805  10447.049805  ...  10430.049805  10430.049805  573600.0
3  2020-07-02  10493.049805  10598.200195  ...  10551.700195  10551.700195  597400.0
4  2020-07-03  10614.950195  10631.299805  ...  10607.349609  10607.349609  525200.0

[5 rows x 7 columns]

In [8]:
del df['Date']

In [4]:
df = df.fillna(method='ffill')

In [9]:
df.head()

           Open          High  ...     Adj Close    Volume
0  10311.950195  10337.950195  ...  10312.400391  574500.0
1  10382.599609  10401.049805  ...  10302.099609  556200.0
2  10323.799805  10447.049805  ...  10430.049805  573600.0
3  10493.049805  10598.200195  ...  10551.700195  597400.0
4  10614.950195  10631.299805  ...  10607.349609  525200.0

[5 rows x 6 columns]

In [10]:
df.count()

Open         251
High         251
Low          251
Close        251
Adj Close    251
Volume       251
dtype: int64

# date_range()

* date_range() is one of the general functions in Pandas which is used to return a fixed frequency DatetimeIndex

* a number of dates that includes a particular start and finish date and all dates in between

* If a data doesn't contain date, date_range() function will allow you to specify date range for the data

In [13]:
rng = pd.date_range(start='2020-06-29',periods=251,freq='B')
rng

DatetimeIndex(['2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02',
               '2020-07-03', '2020-07-06', '2020-07-07', '2020-07-08',
               '2020-07-09', '2020-07-10',
               ...
               '2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
               '2021-06-11', '2021-06-14'],
              dtype='datetime64[ns]', length=251, freq='B')

In [14]:
df.set_index(rng,inplace=True)

In [15]:
df.head()

                    Open          High  ...     Adj Close    Volume
2020-06-29  10311.950195  10337.950195  ...  10312.400391  574500.0
2020-06-30  10382.599609  10401.049805  ...  10302.099609  556200.0
2020-07-01  10323.799805  10447.049805  ...  10430.049805  573600.0
2020-07-02  10493.049805  10598.200195  ...  10551.700195  597400.0
2020-07-03  10614.950195  10631.299805  ...  10607.349609  525200.0

[5 rows x 6 columns]

# asfreq()

* asfreq() function is used to convert TimeSeries to specified frequency. 

* The function also provide filling method to pad/backfill missing values.

In [19]:
df.asfreq('D',method='pad').head(10)

                    Open          High  ...     Adj Close    Volume
2020-06-29  10311.950195  10337.950195  ...  10312.400391  574500.0
2020-06-30  10382.599609  10401.049805  ...  10302.099609  556200.0
2020-07-01  10323.799805  10447.049805  ...  10430.049805  573600.0
2020-07-02  10493.049805  10598.200195  ...  10551.700195  597400.0
2020-07-03  10614.950195  10631.299805  ...  10607.349609  525200.0
2020-07-04  10614.950195  10631.299805  ...  10607.349609  525200.0
2020-07-05  10614.950195  10631.299805  ...  10607.349609  525200.0
2020-07-06  10723.849609  10811.400391  ...  10763.650391  571200.0
2020-07-07  10802.849609  10813.799805  ...  10799.650391  636800.0
2020-07-08  10818.650391  10847.849609  ...  10705.750000  767900.0

[10 rows x 6 columns]

In [21]:
df.asfreq('W',method='pad').head(10)

                    Open          High  ...     Adj Close    Volume
2020-07-05  10614.950195  10631.299805  ...  10607.349609  525200.0
2020-07-12  10764.099609  10819.400391  ...  10768.049805  590700.0
2020-07-19  10752.000000  10933.450195  ...  10901.700195  676900.0
2020-07-26  11149.950195  11225.400391  ...  11194.150391  678900.0
2020-08-02  11139.500000  11150.400391  ...  11073.450195  642600.0
2020-08-09  11186.650391  11231.900391  ...  11214.049805  452600.0
2020-08-16  11353.299805  11366.250000  ...  11178.400391  645100.0
2020-08-23  11409.650391  11418.500000  ...  11371.599609  668700.0
2020-08-30  11602.950195  11686.049805  ...  11647.599609  807000.0
2020-09-06  11354.400391  11452.049805  ...  11333.849609  681300.0

[10 rows x 6 columns]

In [22]:
df.asfreq('H',method='pad').head(10)

                             Open          High  ...     Adj Close    Volume
2020-06-29 00:00:00  10311.950195  10337.950195  ...  10312.400391  574500.0
2020-06-29 01:00:00  10311.950195  10337.950195  ...  10312.400391  574500.0
2020-06-29 02:00:00  10311.950195  10337.950195  ...  10312.400391  574500.0
2020-06-29 03:00:00  10311.950195  10337.950195  ...  10312.400391  574500.0
2020-06-29 04:00:00  10311.950195  10337.950195  ...  10312.400391  574500.0
2020-06-29 05:00:00  10311.950195  10337.950195  ...  10312.400391  574500.0
2020-06-29 06:00:00  10311.950195  10337.950195  ...  10312.400391  574500.0
2020-06-29 07:00:00  10311.950195  10337.950195  ...  10312.400391  574500.0
2020-06-29 08:00:00  10311.950195  10337.950195  ...  10312.400391  574500.0
2020-06-29 09:00:00  10311.950195  10337.950195  ...  10312.400391  574500.0

[10 rows x 6 columns]